/* These are just the demo styles and these can be removed and Orbit 
will still work like a champ (except any content block needs a background which
our demo gets from this sheet) */

/*.container {
    position: absolute; 
    top: 50%; 
    left: 50%;
    margin: -400px 0 0 -470px; }*/
    
.content { background: url(dummy-images/coffee.jpg); }
.content h1 {
	font-size: 40px; 
	text-transform: uppercase; 
	font-weight: bold; 
	text-align: center;
	margin-top: 180px;
	color: #222;
	line-height: 50px;  }
.orbit-item h3 {
	text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%;
	margin: -30px 0 0 -50px;
	font-size: 35px; 
	color: #222; }

	#Top {
	    /*background-image: url("/static/img/top_light.png"); */
	    text-align: center;
	    background-color: #000;
	    height: 100px;
	    
	    background-size: 44px 44px;
	    position: absolute; 
	    top: 50%; 
	    left: 50%;
	    margin: -380px 0 0 -470px;
	}  
	
	#Bottom {
	    border-top: 20px solid #000;
	    background-color: #000;
	    text-align: center;
	    color: #999;
	    position: absolute; 
	    top: 50%; 
	    left: 50%;
	    margin: 280px 0 0 -470px;
	}
	
	.contentv {
		background-color: #000;
	    width: 900px;
	    margin: 0px auto 0px auto;
	}
	
	.qr {
		float: right;
		text-align: right;
	}
	
	.aboutme {
		text-align: left;
	}
/*	--------------------------------------------------
	Global Reset & Standards
	-------------------------------------------------- */
	html, body { margin: 0; padding: 0; }
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, strong, em, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, section { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
	table { border-collapse: collapse; border-spacing: 0; }
	ol, ul { list-style: none; }

	body { background: #000; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; line-height: 18px; text-shadow: 0 0 1px rgba(0,0,0,0.01); color: #555; }
	
	h4 {
		font-weight: bold; 
		color: #222;
		font-size: 15px; }
		
	a { 
		color: #000000;
		text-decoration: none; 
		font-weight: bold;
		font-size: 30px; }
		
	a:hover { text-decoration: underline; }